.home-page {
    // ABOUT US
    .about {
        .container {
            display: grid;
            grid-gap: 150px 50px;
            align-items: center;
            @include mq(992px) {
                grid-template-columns: 1fr 1fr;
            }
        }
        &-link {
            display: block;
            margin-left: auto;
            width: fit-content;
        }
        .btn {
        }

        .col {
            position: relative;
        }
        &-description {
            b {
                font-size: 18px;
            }
        }
        .cover-wrapper {
            width: 100%;
            max-width: 370px;
            margin-left: auto;
            // margin-right: auto;
            @include mq(992px) {
                margin-right: 0;
            }
        }

        .pattern {
            position: absolute;
            bottom: 0;
            left: 50px;
            font-size: 140px;
            color: rgba(0, 0, 0, 0.1);
            line-height: 1;
            font-weight: bold;
            transform: rotateZ(-90deg);
            z-index: 1;
            transform-origin: left;
            @include mq(992px) {
                left: 150px;
            }
        }
        .cover {
            position: relative;
            height: 0;
            width: 100%;
            &-top {
                padding-top: 100%;
            }
            &-bottom {
                padding-top: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // SERVICES SECTION
    .services {
        padding: 0;
        .container {
            max-width: 900px;
        }
        .row {
            display: flex;
            flex-direction: column;
            &-1 {
                .block {
                    &-left {
                        background-color: rgb(56, 60, 71);
                    }
                    &-right {
                    }
                    @include mq(992px) {
                        &-right {
                            .container {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            &-2 {
                .block {
                    &-left {
                        position: relative;
                        img {
                            height: 100px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            padding: 10px 30px;
                        }
                    }
                    &-right {
                    }
                }
            }
            @include mq(992px) {
                flex-direction: row;
                &-2 {
                    .block {
                        &-left {
                            order: 2;
                        }
                        &-right {
                            order: 1;
                            .container {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .block {
            padding: 50px 0;
            @include mq(992px) {
                padding: 100px 0;
            }

            &-left {
                // background-color: color(primary);
                flex: 1;
            }
            &-right {
                // background-color: color(light);
                flex: 1.5;
                ul {
                    li {
                        position: relative;
                        padding-left: 15px;
                        &:before {
                            content: "";
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50%;
                            left: 0;
                            width: 5px;
                            height: 5px;
                            background-color: color(primary);
                            border-radius: 50%;
                            margin: 0 3px;
                        }
                    }
                }
            }
        }
        &-sup-title {
            color: color(light);
            @include mq(992px) {
                max-width: 320px;
                margin-left: auto;
            }
        }
        &-title {
            max-width: 700px;
        }
        &-description {
            color: color(dark, 0.9);
            font-weight: 300;
        }
    }

    // TEXTIMONIALS
    .testimonials {
        position: relative;
        background-color: rgb(56, 60, 71);
        // background-image: url('../../assets/images/icons/pattern.png');
        // background-repeat: no-repeat;
        // background-position: top right;
        // background-size: 200px;
        &-pattern {
            opacity: 0.1;
            position: absolute;
            top: 0;
            right: 0;
            width: 400px;
            height: auto;
            z-index: 1;
        }
        .container {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 100px 30px;
            @include mq(992px) {
                flex-direction: row;
            }
            @include mq(1200px) {
                gap: 100px;
            }
        }
        .banner {
            background-color: color(warning);
            padding: 30px;
            @include mq(992px) {
                max-width: 320px;
            }
            @include mq(1200px) {
                max-width: 360px;
                padding: 40px;
            }
            &-rating {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                margin-bottom: 30px;
                @include mq(992px) {
                    margin-bottom: 60px;
                }
                @include mq(1200px) {
                    margin-bottom: 100px;
                }
            }
            &-stars {
                display: flex;
                gap: 3px;
            }
            &-number {
                font-size: 80px;
                line-height: 1;
                font-weight: bold;
            }
            &-description {
                font-weight: 600;
                font-size: 18px;
            }
            svg {
                height: 15px;
                path {
                }
            }
        }

        &-title {
            color: #fff;
        }
        .reviews {
        }

        .review {
            max-width: 650px;
            padding-bottom: 20px;
            margin-bottom: 50px;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            & > .wrapper {
                display: flex;
                align-items: center;
                gap: 15px;
            }
            &-cover {
                img {
                    width: 60px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            &-description {
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 20px;
                color: rgba(255, 255, 255, 0.9);
            }
            &-name {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    // WHY US
    .why-us {
        &-cover {
            position: relative;
            height: 0;
            padding-top: 47%;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            margin-bottom: 150px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &-title {
        }
        .container {
        }
        &-content {
            display: grid;
            grid-gap: 70px;

            @include mq(1200px) {
                grid-template-columns: 300px 1fr;
            }
            @include mq(1400px) {
                grid-template-columns: 340px 1fr;
            }
            & > .wrapper {
                // max-width: 340px;
                margin: 0 auto;
                text-align: center;
                @include mq(1200px) {
                    text-align: left;
                    margin: 0;
                }
            }
        }
        .offer-group {
            display: grid;
            grid-gap: 50px;
            @include mq(992px) {
                grid-template-columns: 1fr 1fr;
            }
        }
        .offer {
            display: flex;
            gap: 10px;
            &-title {
            }
            svg {
                height: 20px;
                path {
                    fill: color(warning);
                }
            }
        }
    }

    // CONTACT SECTION
    .contact {
      padding-bottom: 0;
        background-color: color(dark, 0.1);

        &-content {
            display: grid;
            grid-gap: 60px 30px;
            margin-bottom: 100px;
            @include mq(992px) {
                justify-content: space-between;
                grid-template-columns: 1fr 600px;
            }
          
          
        }
        &-title {
            margin-bottom: 25px;
        }

        .contact-form {
            // max-width: 600px;
            .select {
                max-width: 100%;
            }
        }


        .map-wrapper {
            .map {
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 56.25%;
                border-radius: 4px;
                overflow: hidden;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                @include mq(992px) {
                    height: 550px;
                    padding: 0;
                }
            }
        }

  

   
    }
}
