.valid-feedback,
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
}
.valid-feedback {
    color: color(success);
}
.invalid-feedback {
    color: color(danger);
}

// JOI VALIDATION
.was-submitted {
    .is-valid {
        border-color: color(success);
        & ~ .valid-feedback {
            display: block;
        }
    }
    .is-invalid {
        border-color: color(danger);
        & ~ .invalid-feedback {
            display: block;
        }
    }
}
