.field-btn {
    .btn {
        padding: 0;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        &-light {
            // background-color:color(primary,0.05);
        }
    }
    textarea {
        resize: none;
        min-height: 170px;
    }
    .form-label {
        font-size: 14px;
        color: color(dark);
    }
    .form-control {
        font-family: Roboto;
        display: block;
        width: 100%;
        padding: 10px 15px;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: 400;
        background: none;
        outline: none;
        border-width: 1px;
        border-style: solid;
        // color: color(dark); // -
        color: inherit; // +
        // border-color: rgba(0, 0, 0, 0.23); // -
        border: none; // +
        outline: none; // +
        appearance: none;
        // border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::placeholder {
            text-transform: capitalize;
            color: inherit;
            opacity: 0.5;
        }
    }

}
